@import url('https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display:400,900i');
* {margin:0;padding:0;box-sizing:border-box;}
img { width:30em; }
body {
	background-color: #E6FFDC;
	color: #2B2121;
	font-size: 16px; /*1em = 16px*/
	text-align: left;
	font-family: 'Playfair Display', serif;
	line-height:1.3;
}
.navlinks{
	font-family: cinzel, serif;
	color: navy;
	font-size: 1em;
	padding: 10px;
	margin: 20px;
}
section, article {
	width: 30em;
	padding: 5em 0;
	margin: 2em auto;
}
header {
	background-color: #C6E2E8;
	padding: 20px;
	font-size: 1.8em;
}
p class{ 
	font-size: 2.5em;
	font-weight: 800;
}
h1, h3 {
	font-weight: normal;
}
h1 {
	font-style: black; 
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
}
h2 {
	font-style: black;
	font-size: 1.8em;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5em;
	font-style: normal;
	font-family: cinzel, serif;
}

h4 {
	font-weight: 600;
	text-align: left;
}
hr{
	border:none;
	height: 3px;
	background-color:001356;
	width: 2em;
	margin: 1em auto;
}
p{	font-size: 1em;
	font-width: 30em;

}
a {
	font-style: italic;
	text-decoration: none;
}

.cta {
    display: inline-block;
    background: navy;
    color: #fff;
    padding: 1em 2em;
    margin-top: 1em;
}
