@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Playfair+Display:400,900i');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color: #FCE4E2;
	color: #2B2121;
	font-size: 1em;
	text-align: left;
	font-family: 'Playfair Display', serif;
	line-height:1.3;
}
.logo {
	font-family: 'Playfair Display', serif;
	font-size:4em;
}
nav a {
	margin-left: 1em;
	margin-right: 1em;
	color: #ffffff;
	display: inline-block;
	border-bottom: 1px solid rgba(255,255,255,0);
}
nav a:visited{
	color: #00284F;
}
nav a:hover{
	border-bottom: 1px solid #ffffff;
}
section, article {
	 padding: 5em 0;
}
.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}
header {
	padding: 2em;
	float: left;
	color: #fff;
}
article {
	padding: 1em;
	float: left;
	width: 50%;
}
h1 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
}
h2 {
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
}
h3 {
	font-size: 1.25em;
	font-family: 'Julius Sans One', serif;
	font-weight:400;
}
hr{
	border:none;
	height: 3px;
	background-color:#001356;
	width: 2em;
	margin: 1em 0;
}
a {
	font-family: 'Julius Sans One', serif;
	font-size: 1em;
	font-style: italic;
	text-decoration: none;
}

.cta {
    display: inline-block;
    background: #00284F;
    color: #fff;
    padding: 1em 4em;
    margin-top: 2em;
}
#intro {
	background: url(../images/chelsey2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	height: 95vh;
	padding: 10em 0 0 5em;
}
#intro div {
	width:30em;
}

#about {
	border: 1px black solid;
    padding: 2em;
}
#chels_img {
    padding: 1em;
    float:left;
    width: 45%;
}
#chels_about {
    padding: 1em;
    float:right;
    width: 55%;
}

img {
	display: block;
	width: 50%;
}

footer {
	border: 1px black solid;
    padding: 1em;
}

@media only screen and (max-width: 900px){
	header{
		padding:0 5%;
	}
	nav{
		float: none;
		display: block;
	}
	nav a{
		margin: 0 1.5em .75em 0;
	}
	body{
			width:100%;
	}
	img{
		width: 75%;
	}
}

@media only screen and (max-width: 750px){
	h1, nav{
		float: none;
		text-align: center;
		width: 100%;
		display:block;
	}
	h2{
		width: 100%;
	}
	body{
		font-size: 16px;
	}
	img{
		width: 100%;
	}
	#chels_img, #chels_about, article {
		width: auto;
		float: none;
	}
}
@media only screen and (max-width: 505px){
	
	h2{
		width: 75%;
		text-align: left;
		margin: 1em;
	}
	nav a {
		padding:1em;
		margin:0;
	}
	#intro {
		background:#000;
		height:initial;
		padding:1em 0 3em;
	}
	.logo {
		font-size: 14vw;
	}
}	


