body {
	background-color: E6FFDC;
	text-align: left;
	font-family: plantin, serif;
}
header {
	background-color: C6E2E8
	padding: 20px;
}
h1, h3, p {
	color: 2B2121;
	font-family: plantin, serif;
	font-weight: normal

}
h1 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 24px
	text-align: center;
}
h2 {
	color: 2B2121; 
	font-family: plantin, serif;
	font-weight: italic;
	font-size: 400px
	text-transform: uppercase;
	text-align: center;
}
h3{
	font-weight: small
	font-size: 300px
	font-style: italic;
}

h4 {
	font-weight: 600;
	text-align: left;
}
a {
	font-style: italic;
	text-decoration: none;
}